.tablepress-id-2 .row-2 .column-5 {
	background-color: #8b4513!important;
}
.tablepress-id-2 .row-2 .column-7 {
	background-color: #00ffff!important;
}
.tablepress-id-2 .row-2 .column-11 {
	background-color: #0000cd!important;
}
.tablepress-id-2 .row-2 .column-13 {
	background-color: #008000!important;
}
.tablepress-id-2 .row-2 .column-16 {
	background-color: #c0c0c0!important;
}
.tablepress-id-2 .row-4 .column-5 {
	background-color: #8b4513!important;
}
.tablepress-id-2 .row-4 .column-16 {
	background-color: #c0c0c0!important;
}
.tablepress-id-2 .row-5 .column-6 {
	background-color: #ffff00!important;
}
.tablepress-id-2 .row-5 .column-10 {
	background-color: #ff8c00!important;
}
.tablepress-id-2 .row-5 .column-18 {
	background-color: #ee82ee!important;
}
.tablepress-id-2 .row-5 .column-19 {
	background-color: #ffd700!important;
}
.tablepress-id-2 .row-6 .column-11 {
	background-color: #0000cd!important;
}
.tablepress-id-2 .row-6 .column-16 {
	background-color: #c0c0c0!important;
}
