.tablepress-id-2 .row-2 .column-11 {
	background-color: #0000cd!important;
}
.tablepress-id-2 .row-3 .column-24 {
	background-color: #ff0000!important;
}
.tablepress-id-2 .row-4 .column-7 {
	background-color: #00ffff!important;
}
.tablepress-id-2 .row-4 .column-24 {
	background-color: #ff0000!important;
}
.tablepress-id-2 .row-5 .column-16 {
	background-color: #c0c0c0!important;
}
.tablepress-id-2 .row-6 .column-26 {
	background-color: #6a5acd!important;
}
.tablepress-id-2 .row-7 .column-11 {
	background-color: #0000cd!important;
}
.tablepress-id-2 .row-7 .column-13 {
	background-color: #008000!important;
}
.tablepress-id-2 .row-7 .column-14 {
	background-color: #006400!important;
}
.tablepress-id-2 .row-7 .column-22 {
	background-color: #ffc0cb!important;
}
.tablepress-id-2 .row-8 .column-13 {
	background-color: #008000!important;
}
.tablepress-id-2 .row-8 .column-14 {
	background-color: #006400!important;
}
.tablepress-id-2 .row-8 .column-22 {
	background-color: #ffc0cb!important;
}
.tablepress-id-2 .row-9 .column-5 {
	background-color: #8b4513!important;
}
.tablepress-id-2 .row-9 .column-7 {
	background-color: #00ffff!important;
}
.tablepress-id-2 .row-9 .column-11 {
	background-color: #0000cd!important;
}
.tablepress-id-2 .row-9 .column-13 {
	background-color: #008000!important;
}
.tablepress-id-2 .row-9 .column-16 {
	background-color: #c0c0c0!important;
}
.tablepress-id-2 .row-10 .column-4 {
	background-color: #ffa07a!important;
}
.tablepress-id-2 .row-10 .column-7 {
	background-color: #00ffff!important;
}
.tablepress-id-2 .row-10 .column-9 {
	background-color: #ff8c00!important;
}
.tablepress-id-2 .row-11 .column-4 {
	background-color: #ffa07a!important;
}
.tablepress-id-2 .row-11 .column-7 {
	background-color: #00ffff!important;
}
.tablepress-id-2 .row-11 .column-11 {
	background-color: #0000cd!important;
}
.tablepress-id-2 .row-12 .column-13 {
	background-color: #008000!important;
}
.tablepress-id-2 .row-12 .column-26 {
	background-color: #6a5acd!important;
}
.tablepress-id-2 .row-12 .column-27 {
	background-color: #008080!important;
}
.tablepress-id-2 .row-13 .column-13 {
	background-color: #008000!important;
}
.tablepress-id-2 .row-14 .column-7 {
	background-color: #00ffff!important;
}
.tablepress-id-2 .row-14 .column-13 {
	background-color: #008000!important;
}
.tablepress-id-2 .row-14 .column-14 {
	background-color: #006400!important;
}
.tablepress-id-2 .row-16 .column-11 {
	background-color: #0000cd!important;
}
.tablepress-id-2 .row-17 .column-5 {
	background-color: #8b4513!important;
}
.tablepress-id-2 .row-18 .column-13 {
	background-color: #008000!important;
}
.tablepress-id-2 .row-18 .column-14 {
	background-color: #006400!important;
}
.tablepress-id-2 .row-19 .column-14 {
	background-color: #006400!important;
}
.tablepress-id-2 .row-20 .column-13 {
	background-color: #008000!important;
}
.tablepress-id-2 .row-21 .column-8 {
	background-color: #dda0dd!important;
}
.tablepress-id-2 .row-21 .column-21 {
	background-color: #00ffff!important;
}
.tablepress-id-2 .row-22 .column-5 {
	background-color: #8b4513!important;
}
.tablepress-id-2 .row-22 .column-16 {
	background-color: #c0c0c0!important;
}
.tablepress-id-2 .row-23 .column-5 {
	background-color: #8b4513!important;
}
.tablepress-id-2 .row-25 .column-13 {
	background-color: #008000!important;
}
.tablepress-id-2 .row-26 .column-14 {
	background-color: #006400!important;
}
.tablepress-id-2 .row-27 .column-13 {
	background-color: #008000!important;
}
.tablepress-id-2 .row-27 .column-14 {
	background-color: #006400!important;
}
.tablepress-id-2 .row-28 .column-4 {
	background-color: #ffa07a!important;
}
.tablepress-id-2 .row-28 .column-5 {
	background-color: #8b4513!important;
}
.tablepress-id-2 .row-28 .column-7 {
	background-color: #00ffff!important;
}
.tablepress-id-2 .row-28 .column-9 {
	background-color: #ff8c00!important;
}
.tablepress-id-2 .row-28 .column-11 {
	background-color: #0000cd!important;
}
.tablepress-id-2 .row-28 .column-12 {
	background-color: #00ff7f!important;
}
.tablepress-id-2 .row-28 .column-13 {
	background-color: #008000!important;
}
.tablepress-id-2 .row-28 .column-14 {
	background-color: #006400!important;
}
.tablepress-id-2 .row-28 .column-16 {
	background-color: #c0c0c0!important;
}
.tablepress-id-2 .row-28 .column-17 {
	background-color: #800080!important;
}
.tablepress-id-2 .row-28 .column-23 {
	background-color: #f5deb3!important;
}
.tablepress-id-2 .row-28 .column-24 {
	background-color: #ff0000!important;
}
.tablepress-id-2 .row-28 .column-27 {
	background-color: #008080!important;
}
.tablepress-id-2 .row-29 .column-5 {
	background-color: #8b4513!important;
}
.tablepress-id-2 .row-29 .column-11 {
	background-color: #0000cd!important;
}
.tablepress-id-2 .row-29 .column-12 {
	background-color: #00ff7f!important;
}
.tablepress-id-2 .row-29 .column-13 {
	background-color: #008000!important;
}
.tablepress-id-2 .row-29 .column-14 {
	background-color: #006400!important;
}
.tablepress-id-2 .row-29 .column-24 {
	background-color: #ff0000!important;
}
.tablepress-id-2 .row-29 .column-26 {
	background-color: #6a5acd!important;
}
.tablepress-id-2 .row-29 .column-27 {
	background-color: #008080!important;
}
.tablepress-id-2 .row-30 .column-5 {
	background-color: #8b4513!important;
}
.tablepress-id-2 .row-30 .column-7 {
	background-color: #00ffff!important;
}
.tablepress-id-2 .row-30 .column-11 {
	background-color: #0000cd!important;
}
.tablepress-id-2 .row-30 .column-13 {
	background-color: #008000!important;
}
.tablepress-id-2 .row-30 .column-16 {
	background-color: #c0c0c0!important;
}
.tablepress-id-2 .row-31 .column-13 {
	background-color: #008000!important;
}
.tablepress-id-2 .row-32 .column-13 {
	background-color: #008000!important;
}
.tablepress-id-2 .row-32 .column-15 {
	background-color: #90ee90!important;
}
.tablepress-id-2 .row-33 .column-11 {
	background-color: #0000cd!important;
}
.tablepress-id-2 .row-34 .column-13 {
	background-color: #008000!important;
}
.tablepress-id-2 .row-35 .column-8 {
	background-color: #dda0dd!important;
}
.tablepress-id-2 .row-35 .column-22 {
	background-color: #ffc0cb!important;
}
.tablepress-id-2 .row-35 .column-23 {
	background-color: #f5deb3!important;
}
.tablepress-id-2 .row-36 .column-11 {
	background-color: #0000cd!important;
}
.tablepress-id-2 .row-37 .column-6 {
	background-color: #ffff00!important;
}
.tablepress-id-2 .row-37 .column-10 {
	background-color: #ff8c00!important;
}
.tablepress-id-2 .row-37 .column-18 {
	background-color: #ee82ee!important;
}
.tablepress-id-2 .row-37 .column-19 {
	background-color: #ffd700!important;
}
.tablepress-id-2 .row-38 .column-11 {
	background-color: #0000cd!important;
}
.tablepress-id-2 .row-38 .column-16 {
	background-color: #c0c0c0!important;
}
.tablepress-id-2 .row-39 .column-11 {
	background-color: #0000cd!important;
}
.tablepress-id-2 .row-40 .column-7 {
	background-color: #00ffff!important;
}
.tablepress-id-2 .row-40 .column-8 {
	background-color: #dda0dd!important;
}
.tablepress-id-2 .row-40 .column-11 {
	background-color: #0000cd!important;
}
.tablepress-id-2 .row-40 .column-21 {
	background-color: #00ffff!important;
}
.tablepress-id-2 .row-41 .column-11 {
	background-color: #0000cd!important;
}
.tablepress-id-2 .row-42 .column-7 {
	background-color: #00ffff!important;
}
.tablepress-id-2 .row-44 .column-5 {
	background-color: #8b4513!important;
}
.tablepress-id-2 .row-44 .column-16 {
	background-color: #c0c0c0!important;
}
.tablepress-id-2 .row-44 .column-23 {
	background-color: #f5deb3!important;
}
.tablepress-id-2 .row-45 .column-13 {
	background-color: #008000!important;
}
.tablepress-id-2 .row-45 .column-14 {
	background-color: #006400!important;
}
.tablepress-id-2 .row-46 .column-5 {
	background-color: #8b4513!important;
}
.tablepress-id-2 .row-46 .column-9 {
	background-color: #ff8c00!important;
}
.tablepress-id-2 .row-46 .column-11 {
	background-color: #0000cd!important;
}
.tablepress-id-2 .row-46 .column-13 {
	background-color: #008000!important;
}
.tablepress-id-2 .row-46 .column-14 {
	background-color: #006400!important;
}
.tablepress-id-2 .row-46 .column-16 {
	background-color: #c0c0c0!important;
}
.tablepress-id-2 .row-47 .column-7 {
	background-color: #00ffff!important;
}
.tablepress-id-2 .row-47 .column-8 {
	background-color: #dda0dd!important;
}
.tablepress-id-2 .row-47 .column-21 {
	background-color: #00ffff!important;
}
.tablepress-id-2 .row-48 .column-6 {
	background-color: #ffff00!important;
}
.tablepress-id-2 .row-48 .column-7 {
	background-color: #00ffff!important;
}
.tablepress-id-2 .row-48 .column-10 {
	background-color: #ff8c00!important;
}
.tablepress-id-2 .row-48 .column-19 {
	background-color: #ffd700!important;
}
.tablepress-id-2 .row-48 .column-22 {
	background-color: #ffc0cb!important;
}
.tablepress-id-2 .row-48 .column-24 {
	background-color: #ff0000!important;
}
.tablepress-id-2 .row-48 .column-25 {
	background-color: #bdb76b!important;
}
.tablepress-id-2 .row-49 .column-8 {
	background-color: #dda0dd!important;
}
.tablepress-id-2 .row-49 .column-11 {
	background-color: #0000cd!important;
}
.tablepress-id-2 .row-50 .column-4 {
	background-color: #ffa07a!important;
}
.tablepress-id-2 .row-50 .column-13 {
	background-color: #008000!important;
}
.tablepress-id-2 .row-51 .column-11 {
	background-color: #0000cd!important;
}
.tablepress-id-2 .row-51 .column-12 {
	background-color: #00ff7f!important;
}
.tablepress-id-2 .row-52 .column-9 {
	background-color: #ff8c00!important;
}
.tablepress-id-2 .row-54 .column-13 {
	background-color: #008000!important;
}
.tablepress-id-2 .row-54 .column-24 {
	background-color: #ff0000!important;
}
.tablepress-id-2 .row-55 .column-7 {
	background-color: #00ffff!important;
}
.tablepress-id-2 .row-56 .column-16 {
	background-color: #c0c0c0!important;
}
.tablepress-id-2 .row-58 .column-8 {
	background-color: #dda0dd!important;
}
.tablepress-id-2 .row-59 .column-4 {
	background-color: #ffa07a!important;
}
.tablepress-id-2 .row-59 .column-7 {
	background-color: #00ffff!important;
}
.tablepress-id-2 .row-59 .column-11 {
	background-color: #0000cd!important;
}
.tablepress-id-2 .row-59 .column-12 {
	background-color: #00ff7f!important;
}
.tablepress-id-2 .row-59 .column-13 {
	background-color: #008000!important;
}
.tablepress-id-2 .row-59 .column-19 {
	background-color: #ffd700!important;
}
.tablepress-id-2 .row-59 .column-20 {
	background-color: #bc8f8f!important;
}
.tablepress-id-2 .row-59 .column-21 {
	background-color: #00ffff!important;
}
.tablepress-id-2 .row-59 .column-22 {
	background-color: #ffc0cb!important;
}
.tablepress-id-2 .row-59 .column-23 {
	background-color: #f5deb3!important;
}
.tablepress-id-2 .row-59 .column-24 {
	background-color: #ff0000!important;
}
.tablepress-id-2 .row-59 .column-25 {
	background-color: #bdb76b!important;
}
.tablepress-id-2 .row-59 .column-27 {
	background-color: #008080!important;
}
.tablepress-id-2 .row-60 .column-11 {
	background-color: #0000cd!important;
}
.tablepress-id-2 .row-60 .column-13 {
	background-color: #008000!important;
}
.tablepress-id-2 .row-60 .column-14 {
	background-color: #006400!important;
}
.tablepress-id-2 .row-60 .column-22 {
	background-color: #ffc0cb!important;
}
.tablepress-id-2 .row-61 .column-5 {
	background-color: #8b4513!important;
}
.tablepress-id-2 .row-62 .column-14 {
	background-color: #006400!important;
}
.tablepress-id-2 .row-63 .column-11 {
	background-color: #0000cd!important;
}
.tablepress-id-2 .row-63 .column-13 {
	background-color: #008000!important;
}
.tablepress-id-2 .row-63 .column-14 {
	background-color: #006400!important;
}
.tablepress-id-2 .row-63 .column-19 {
	background-color: #ffd700!important;
}
.tablepress-id-2 .row-64 .column-11 {
	background-color: #0000cd!important;
}
.tablepress-id-2 .row-64 .column-13 {
	background-color: #008000!important;
}
.tablepress-id-2 .row-64 .column-18 {
	background-color: #ee82ee!important;
}
.tablepress-id-2 .row-64 .column-21 {
	background-color: #00ffff!important;
}
.tablepress-id-2 .row-65 .column-13 {
	background-color: #008000!important;
}
.tablepress-id-2 .row-66 .column-8 {
	background-color: #dda0dd!important;
}
.tablepress-id-2 .row-67 .column-11 {
	background-color: #0000cd!important;
}
.tablepress-id-2 .row-67 .column-12 {
	background-color: #00ff7f!important;
}
.tablepress-id-2 .row-67 .column-13 {
	background-color: #008000!important;
}
.tablepress-id-2 .row-67 .column-16 {
	background-color: #c0c0c0!important;
}
.tablepress-id-2 .row-67 .column-17 {
	background-color: #800080!important;
}
.tablepress-id-2 .row-67 .column-19 {
	background-color: #ffd700!important;
}
.tablepress-id-2 .row-67 .column-27 {
	background-color: #008080!important;
}
.tablepress-id-2 .row-68 .column-4 {
	background-color: #ffa07a!important;
}
.tablepress-id-2 .row-68 .column-7 {
	background-color: #00ffff!important;
}
.tablepress-id-2 .row-68 .column-8 {
	background-color: #dda0dd!important;
}
.tablepress-id-2 .row-68 .column-11 {
	background-color: #0000cd!important;
}
