rect.DQ266005 {
  fill: rgb(255,255,90);
  stroke-opacity:0
}

polyline {
	fill: none;
	stroke-linejoin: bevel;
	stroke: #000000;
	stroke-opacity: 1;
	stroke-width: 1;
	stroke-linecap: butt;
}

text.accession {
	fill: none;
	fill-opacity: 1;
	stroke: #000000;
	stroke-opacity: 1;
	stroke-width: 1;
	stroke-linecap: square;
	stroke-linejoin: bevel;
	font-family: Verdana;
	font-size: 10pt;
	font-weight: 400;
	font-style: normal;
	fstroke: none;
	xml:space: preserve
}